doctype html
html
    head
        title Chi L'ha Visto?!
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
    body
        h1
            |Questa è la nostra applicazione per ritrovare gli oggetti smarriti. Noi siamo: Eleonora, Arianna e Leonardo. Se hai trovato o perso qualcosa effettua il login e condividi, noi cercheremo di aiutarti a ritrovarlo
        form(action='/login', method='GET')
            input(type='submit', value='loginFB')
        
