doctype html
html
	head
		title = "Chi l'ha visto!? Login"
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
	body
		h1
			|esegui il login per prodeguire
		form(action='/bhooo', method='GET')
			input(type='submit', value='loginFacebook')
		br
		form(action='/lol', method='GET')
			input(type='submit', value='loginTwitter')
		br
		form(action='/', method='GET')
			input(type='submit', value='torna alla home')
		br


