<!DOCTYPE HTML>

<head>
    <title>MIS - Find book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> </meta>
    <script type="text/javascript" src="js/book.js"> </script>
    <link rel="stylesheet" href="css/book.css"> </link>
</head>

<body onload="initializeBookStorage()">
    <div class="container">
        <h1>Find a book</h1>
        <form name="bookForm" id="myBookForm" onsubmit="return addBookStorage()" action="#"  method="post">

            <fieldset class="form-fieldset ui-input __first" id="firstForm">
                <input type="text" name="bname" id="title" th:field="*{title}" />
                <label for="title">
                    <span data-text="Title (Required)">Title</span>
                </label>
            </fieldset>

            <fieldset class="form-fieldset ui-input __second">
                <input type="text" id="isbn" tabindex="0" maxlength="13" th:field="*{ISBN}" />
                <label for="isbn">
                    <span data-text="ISBN">ISBN</span>
                </label>
            </fieldset>

            <fieldset class="form-fieldset ui-input __third">
                <input type="number" id="new-password" th:field="*{maxResult}" min="1" max="100" />
                <label for="results">
                    <span data-text="Max Number of Results">Max Number of Results</span>
                </label>
            </fieldset>

            <p>
                <b>Order by:</b>
                <select name="Order by: " th:field="*{orderBy}">
                    <option value="relevance">Relevance</option>
                    <option value="newest">Newest</option>
                </select>
            </p>

            <div class="form-footer">
                <input type="submit" id="bottone" class="btn" value="Search"></input>
                <input type="reset" id="bottone" class="btn" value="Reset"></input>
            </div>

        </form>
    </div>
    <a href="/" id="float" class="float">
        <img src="home.svg" height="32" width="32" class="my-float" id="home"> </img>
    </a>
</body>

</html>
